body {
   overflow-x: hidden;
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   margin: 0;
   padding: 0;
}

ul,
ol {
   list-style: none;
   padding: 0;
   margin: 0;
}

ol {
   list-style: decimal;
}

div{
   margin: 30px 0;
}