$blue: #80EFFF;
$green: #0AE589;
$red: #ED1666;

$accentBlue: #B3FFFF;
$darkblue: #1FAABF;
$darkestblue: #205685;

$accentgreen: #A3F3C5;

$white: #ffffff;
$grey: #7F808A;
$black: #000000;
$darkgrey: #525E65;
$lightgrey: #CACACE;