/* generated with grunt-sass-globbing */
body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0; }

ol {
  list-style: decimal; }

div {
  margin: 30px 0; }

button, .button {
  background: #80EFFF;
  transition: all .2s;
  border: none;
  min-width: 140px;
  line-height: 40px;
  border-radius: 7px;
  cursor: pointer;
  color: #525E65;
  font-size: 16px;
  padding: 0 15px; }
  button:hover, .button:hover {
    background: #0AE589;
    color: #ffffff; }
  button:disabled, .button:disabled {
    background: #CACACE;
    color: #7F808A;
    pointer-events: none; }

input, textarea, .input__select {
  padding: 5px 10px;
  width: 100%;
  border: 3px solid #80EFFF;
  font-size: 16px;
  border-radius: 10px;
  box-sizing: border-box;
  background: #ffffff;
  color: #000000; }
  input:focus, textarea:focus, .input__select:focus, input:focus-visible, textarea:focus-visible, .input__select:focus-visible, input:hover, textarea:hover, .input__select:hover {
    border-color: #0AE589;
    outline: none; }
  input:disabled, textarea:disabled, .input__select:disabled {
    background-color: #7F808A;
    cursor: default; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder, .input__select:-ms-input-placeholder {
    color: #7F808A; }
  input::placeholder, textarea::placeholder, .input__select::placeholder {
    color: #7F808A; }

label,
.input__label, .input__hint, .input__error {
  display: block;
  margin-bottom: 5px;
  color: #7F808A; }

.input__hint {
  font-style: italic;
  font-size: .8em; }

.input__error {
  color: #ED1666; }
  .input__error + input {
    border-color: #ED1666; }

textarea {
  height: 200px;
  resize: none; }

.input__checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: auto; }
  .input__checkbox:checked + .input__checkbox--text:after {
    display: block; }
  .input__checkbox:checked + .input__checkbox--text:before {
    background-color: #B3FFFF; }
  .input__checkbox--container {
    border-radius: 2px;
    padding: 10px 15px;
    margin-bottom: 10px;
    background: #ffffff; }
  .input__checkbox--text {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    line-height: 25px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .input__checkbox--text:hover:before {
      background-color: #B3FFFF; }
    .input__checkbox--text:after {
      display: none;
      content: '';
      position: absolute;
      transition: all .2s;
      left: 8px;
      top: 3px;
      width: 5px;
      height: 12px;
      border: solid #0AE589;
      border-width: 0 3px 3px 0;
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
    .input__checkbox--text:before {
      content: '';
      left: 0;
      position: absolute;
      height: 20px;
      width: 20px;
      border: 2px solid #80EFFF;
      transition: all .2s;
      border-radius: 8px; }

.input__radio {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: auto; }
  .input__radio:checked + .input__radio--text:after {
    display: block; }
  .input__radio:checked + .input__radio--text:before {
    background-color: #B3FFFF; }
  .input__radio--container {
    border-radius: 2px;
    padding: 10px 15px;
    margin-bottom: 10px;
    background: #ffffff; }
  .input__radio--text {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    line-height: 25px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .input__radio--text:hover:before {
      background-color: #B3FFFF; }
    .input__radio--text:after {
      display: none;
      content: '';
      position: absolute;
      transition: all .2s;
      left: 5px;
      top: 5px;
      width: 14px;
      height: 14px;
      background: #0AE589;
      border-radius: 500px; }
    .input__radio--text:before {
      content: '';
      left: 0;
      position: absolute;
      height: 20px;
      width: 20px;
      border: 2px solid #80EFFF;
      transition: all .2s;
      border-radius: 50px; }

.input__slider {
  -webkit-appearance: none;
  height: 7px;
  width: 100%;
  border: none;
  background: #205685;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer; }
  .input__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #1FAABF;
    cursor: pointer;
    transition: all 0.15s ease-in-out; }
  .input__slider::-webkit-slider-thumb:hover {
    background: #0AE589;
    transform: scale(1.2); }
  .input__slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #1FAABF;
    cursor: pointer;
    transition: background 0.15s ease-in-out; }
  .input__slider::-moz-range-thumb:hover {
    background: #0AE589; }
  .input__slider--container {
    position: relative;
    width: 100%;
    height: calc(65px - 10px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    border-radius: 8px;
    margin: 30px 0; }
  .input__slider--notch {
    width: calc(100% - (18px));
    height: 10px;
    position: absolute;
    bottom: 0; }
  .input__slider--notch span {
    display: inline-block;
    width: 2px;
    height: 10px;
    position: absolute;
    background: #205685;
    top: 0; }

.input__tag {
  position: absolute;
  pointer-events: none;
  width: auto;
  -ms-transform: translate(100%, 100%);
      transform: translate(100%, 100%);
  z-index: -1;
  display: contents; }
  .input__tag:checked + .input__tag--text {
    background-color: #0AE589;
    border-color: #0AE589; }
  .input__tag--text {
    display: inline-block;
    background: #205685;
    border: 1px solid #205685;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 10px;
    transition: all .2s;
    font-size: 14px;
    font-family: sans-serif; }
    .input__tag--text:hover {
      background-color: #A3F3C5;
      border-color: #A3F3C5;
      color: #000000;
      cursor: pointer; }
  .input__tag--container {
    margin: 5px;
    display: inline-block; }

.input__select {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  color: #205685; }
  .input__select--container {
    position: relative; }
    .input__select--container:before {
      content: "";
      position: absolute;
      left: 95%;
      top: 50%;
      width: 8px;
      height: 8px;
      border: solid #7F808A;
      border-width: 0 1px 1px 0;
      -ms-transform: rotate(45deg) translateX(-100%);
          transform: rotate(45deg) translateX(-100%); }
  .input__select:hover {
    background: rgba(128, 239, 255, 0.2); }
  .input__select:focus, .input__select:hover {
    border-color: #80EFFF; }
