%btn{
   background: $blue;
   transition: all .2s;
   border: none;
   min-width: 140px;
   line-height: 40px;
   border-radius: 7px;
   cursor: pointer;
   color: $darkgrey;
   font-size: 16px;
   padding: 0 15px;

   &:hover{
      background: $green;
      color: $white;
   }

   &:disabled{
      background: $lightgrey;
      color: $grey;
      pointer-events: none;
   }
}

button, .button{
   @extend %btn
}