%input {
   padding: 5px 10px;
   width: 100%;
   border: 3px solid $blue;
   font-size: 16px;
   border-radius: 10px;
   box-sizing: border-box;
   background: $white;
   color: $black;

   &:focus,
   &:focus-visible,
   &:hover {
      border-color: $green;
      outline: none
   }

   &:disabled {
      background-color: $grey;
      cursor: default;
   }

   &::placeholder {
      color: $grey;
   }
}

%label {
   display: block;
   margin-bottom: 5px;
   color: $grey
}

input {
   @extend %input;
}

label,
.input__label {
   @extend %label;
}

.input__hint {
   @extend %label;
   font-style: italic;
   font-size: .8em;
}

.input__error {
   @extend %label;
   color: $red;

   +input {
      border-color: $red;
   }
}

textarea {
   @extend %input;
   height: 200px;
   resize: none;
}