.input__checkbox {
   position: absolute;
   opacity: 0;
   pointer-events: none;
   width: auto;

   &:checked {
      +.input__checkbox--text {
         &:after {
            display: block;
         }

         &:before {
            background-color: $accentBlue;
         }
      }
   }

   &--container {
      border-radius: 2px;
      padding: 10px 15px;
      margin-bottom: 10px;
      background: $white;
   }

   &--text {
      position: relative;
      padding-left: 35px;
      cursor: pointer;
      display: inline-block;
      line-height: 25px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:hover {
         &:before {
            background-color: $accentBlue;
         }
      }

      &:after {
         display: none;
         content: '';
         position: absolute;
         transition: all .2s;
         left: 8px;
         top: 3px;
         width: 5px;
         height: 12px;
         border: solid $green;
         border-width: 0 3px 3px 0;
         transform: rotate(45deg);
      }

      &:before {
         content: '';
         left: 0;
         position: absolute;
         height: 20px;
         width: 20px;
         border: 2px solid $blue;
         transition: all .2s;
         border-radius: 8px;
      }
   }
}

.input__radio {
   position: absolute;
   opacity: 0;
   pointer-events: none;
   width: auto;

   &:checked {
      +.input__radio--text {
         &:after {
            display: block;
         }

         &:before {
            background-color: $accentBlue;
         }
      }
   }

   &--container {
      border-radius: 2px;
      padding: 10px 15px;
      margin-bottom: 10px;
      background: $white;
   }

   &--text {
      position: relative;
      padding-left: 35px;
      cursor: pointer;
      display: inline-block;
      line-height: 25px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:hover {
         &:before {
            background-color: $accentBlue;
         }
      }

      &:after {
         display: none;
         content: '';
         position: absolute;
         transition: all .2s;
         left: 5px;
         top: 5px;
         width: 14px;
         height: 14px;
         background: $green;
         border-radius: 500px;
      }

      &:before {
         content: '';
         left: 0;
         position: absolute;
         height: 20px;
         width: 20px;
         border: 2px solid $blue;
         transition: all .2s;
         border-radius: 50px;
      }
   }
}

.input__slider {
   -webkit-appearance: none;
   height: 7px;
   width: 100%;
   border: none;
   background: $darkestblue;
   outline: none;
   padding: 0;
   margin: 0;
   cursor: pointer;

   &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $darkblue;
      cursor: pointer;
      transition: all 0.15s ease-in-out;
   }

   &::-webkit-slider-thumb:hover {
      background: $green;
      transform: scale(1.2);
   }

   &::-moz-range-thumb {
      width: 20px;
      height: 20px;
      border: 0;
      border-radius: 50%;
      background: $darkblue;
      cursor: pointer;
      transition: background 0.15s ease-in-out;
   }

   &::-moz-range-thumb:hover {
      background: $green;
   }

   &--container {
      position: relative;
      width: 100%;
      height: calc(65px - 10px);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      margin: 30px 0;
   }

   &--notch {
      width: calc(100% - (18px));
      height: 10px;
      position: absolute;
      bottom: 0;
   }

   &--notch span {
      display: inline-block;
      width: 2px;
      height: 10px;
      position: absolute;
      background: $darkestblue;
      top: 0;
   }
}

.input__tag {
   position: absolute;
   pointer-events: none;
   width: auto;
   transform: translate(100%, 100%);
   z-index: -1;
   display: contents;

   &:checked + .input__tag--text {
      background-color: $green;
      border-color: $green;
   }

   &--text {
      display: inline-block;
      background: $darkestblue;
      border: 1px solid $darkestblue;
      color: $white;
      padding: 10px 15px;
      border-radius: 10px;
      transition: all .2s;
      font-size: 14px;
      font-family: sans-serif;

      &:hover {
         background-color: $accentgreen;
         border-color: $accentgreen;
         color: $black;
         cursor: pointer;
      }
   }

   &--container{
      margin: 5px;
      display: inline-block;
   }
}

.input__select {
   @extend %input;
   -webkit-appearance: none;
   -ms-appearance: none;
   -moz-appearance: none;
   appearance: none;
   color: $darkestblue;
   
   &--container {
      position: relative;

      &:before {
         content: "";
         position: absolute;
         left: 95%;
         top: 50%;
         width: 8px;
         height: 8px;
         border: solid $grey;
         border-width: 0 1px 1px 0;
         transform: rotate(45deg) translateX(-100%);
      }
   }
   &:hover{
      background: rgba($blue, .2);;
   }

   &:focus, &:hover{
      border-color: $blue;
   }
}